$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #FFAA01;
$secondary_paletteKeyColor: #8C7444;
$tertiary_paletteKeyColor: #897531;
$neutral_paletteKeyColor: #847563;
$neutral_variant_paletteKeyColor: #85745F;
$background: #1A1206;
$onBackground: #F3DFCB;
$surface: #1A1206;
$surfaceDim: #1A1206;
$surfaceBright: #433729;
$surfaceContainerLowest: #150D03;
$surfaceContainerLow: #231A0D;
$surfaceContainer: #281E11;
$surfaceContainerHigh: #33281B;
$surfaceContainerHighest: #3E3325;
$onSurface: #F3DFCB;
$surfaceVariant: #534432;
$onSurfaceVariant: #D8C3AB;
$inverseSurface: #F3DFCB;
$inverseOnSurface: #392F21;
$outline: #A08E78;
$outlineVariant: #534432;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB952;
$primary: #FFB952;
$onPrimary: #452B00;
$primaryContainer: #633F00;
$onPrimaryContainer: #FFDDB4;
$inversePrimary: #825500;
$secondary: #E0C38C;
$onSecondary: #3F2D04;
$secondaryContainer: #584419;
$onSecondaryContainer: #FEDFA6;
$tertiary: #DEC578;
$onTertiary: #3C2F00;
$tertiaryContainer: #A58F48;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDDB4;
$primaryFixedDim: #FFB952;
$onPrimaryFixed: #291800;
$onPrimaryFixedVariant: #633F00;
$secondaryFixed: #FEDFA6;
$secondaryFixedDim: #E0C38C;
$onSecondaryFixed: #261900;
$onSecondaryFixedVariant: #584419;
$tertiaryFixed: #FBE191;
$tertiaryFixedDim: #DEC578;
$onTertiaryFixed: #231B00;
$onTertiaryFixedVariant: #564502;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #231909;
$term1: #C9802D;
$term2: #FFC249;
$term3: #FFE1BC;
$term4: #B8AC66;
$term5: #E79855;
$term6: #E9C56C;
$term7: #E8D6BF;
$term8: #C6B6A6;
$term9: #FFAF59;
$term10: #FFFCFF;
$term11: #FFFFFF;
$term12: #EDDBAC;
$term13: #FFD1AD;
$term14: #FFF9F6;
$term15: #FFDDB6;
